/result
/result-*
/local
__pycache__/
*.pyc
/fixtures/**/build/
/fixtures/**/.gradle/
/fixtures/**/bin/
/fixtures/**/.project
/fixtures/**/.classpath
/fixtures/**/.factorypath
/fixtures/**/.settings/
